$brand:#FCBA3B;
$brand-hover: #d59d32;
$accent:#3C2109;
$black:#161616;
$dark-gray:#2c2c2c;
$light-gray:#e0e0e0;
//Social Media
$youtube: #FF0000;
$youtube-hover: #d51717;


//Spacing
$sectionPadding: 60px 0;
