.downloads{
  h3{
    font-weight: bold;
    font-size: 1.5em;
  }
  p{
    color: $dark-gray;
    font-size:1.1em;
  }
  a.coming-soon-contact{
    text-align: center;
    color:#fff;
    display: block;
    border-radius: 4px;
    background:$brand;
    padding:15px;
  }
  a.download-btn{
    display: block;
    margin-bottom: 25px;
    text-align: center;
    color:#fff;
    img{
      width:200px;
      &.g-play{
        width:230px;
      }
    }
  }
}
