footer{
  background:$black;
  padding:25px 0;
  .footer-about{
    .footer-about-headings{
      display: flex;
      flex-basis: 0;
      align-items: center;
      span{
        flex:1;
        img{
          height: 40px;
          width: auto;
        }
      }
      h4{
        flex:2;
        font-weight: bold;
        color: $brand;
      }
      p{
        color: #fff;
      }
    }
  }
  .footer-links{
    ul{
      li{
        margin-bottom: 20px;
        a{
          display: block;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
  .footer-contact{
    ul{
      padding-left: 40px;
      li{
        margin-bottom: 15px;
        font-size: 1.1em;
        color:#fff;
        a{
          color:#fff;
        }
        i{
          color:$brand;
          margin-right: 10px;
        }
      }
    }
  }
}
