.game-feauters{
  padding: $sectionPadding;
  position: relative;
  .in-middle-of-no-where{
    position: absolute;
    top: 60px;
    left:-100px;
    width: 200px;
    height:200px;
  }
  .single-feature{
    display: flex;
    flex-basis: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
    .feauter-img{
      img{
        width: 50px;
        height: 50px;
        display: block;
        margin: auto;
      }
      padding: 20px;
      background: $brand;
      border-radius: 50%;
      margin-right: 25px;
    }
    .feauter-text{
      h3{
        color: $black;
        font-weight: bold;
        font-size: 1.5em;
      }
      p{
        color: $dark-gray;
        font-size: 1em;
      }
    }
  }
  .single-row-image{
    display: block;
    margin: 0 auto 25px auto;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
  }
}
@media screen and (max-width:764px){

  .game-feauters{
    padding: $sectionPadding;
    .single-feature{
      margin-bottom: 45px;
      .feauter-img{
        img{
          width: 35px;
          height: 35px;
        }
        padding: 10px;
        margin-right: 25px;
      }
      .feauter-text{
        h3{
          font-size: 1.1em;
        }
        p{
          font-size: 0.7em;
        }
      }
    }
  }

}
