.hero{
  height: 100vh;
  width: 100%;
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  .hero-content{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 30vh 10vh;
    color: #fff;
    position: relative;
    h1{
      font-size: 4em;
      margin-bottom: 25px;
      font-weight: bold;
    }
    p{
      font-size: 1.4em;
      font-weight: 300;
    }
    ul{
      display: flex;
      flex-basis: 0;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      li{
        margin:15px;
        a{
          display: block;
          border-radius: 50px;
          padding: 10px 50px 14px 50px;
          transition: all ease 0.3s;
          img{
            width:200px;
            height:auto;
            margin-right:auto;
            display: block;
            &.g-play{
              width:250px;
            }
          }
       }
      }
    }
    .trailer-in-mobile{
      position: relative;
      background: url('../images/mobile-frame.png') no-repeat top left transparent;
      background-size:cover;
      width: 496px; 
      height: 294px; 
      position: relative;
      video{
        width: 82%;
        height: 82%;
        position: absolute;
        top: 28px;
        left: 46px;
      }
    }
    .cursor{
      background: $brand;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      align-items: center;
      text-align: center;
      padding-top: 25px;
      position: absolute;
      left: 47.5%;
      bottom: -30px;
      i{
        display: block;
        font-size: 12px;
        animation: CursorAnimation infinite 1.5s;
      }
    }
  }
}

//Mobile Phone CSS
@media screen and (max-width:764px){
  .hero{
      background: url('../images/hero-sm.jpg') no-repeat center center;
    .hero-content{
      padding: 130px 3vh;
      position: relative;
      h1{
        font-size: 2.5em;
        margin-bottom: 25px;
        text-align: center;
      }
      p{
        text-align: center;
        font-size: 1em;
      }
      ul{
        justify-content: space-around;
        
        li{
          margin:5px;
          text-align: center;
          a{
            padding: 0;
            img{
              width:140px;
              &.g-play{
                width:160px;
              }
            }
         }
        }
      }
      .trailer-in-mobile{
        width: 203px;
        height: 120px;
        margin:auto;
        video{
          top: 10px;
          left: 17px;
        }
      }
      .cursor{
        width: 40px;
        height: 40px;
        padding-top: 16.5px;
        left: 45%;
        bottom: -20px;
        i{
          display: block;
          font-size: 8px;
          animation: CursorAnimation infinite 1.5s;
        }
      }
    }
  }
}
