.navbar{
  padding: 25px 6%;
  transition: all ease 0.3s;
  &.scrolled , &.all-scrolled{
    background: $black;
    transition: all ease 0.3s;
    padding: 15px 10%;
  }
  .navbar-brand{
    img{
      height: 40px;
      width: auto;
    }
  }
  .navbar-nav{
    .nav-item{
      margin-left: 10px;
      .nav-link{
        color:#fff;
        transition: all ease 0.3s;
        &:before{
          content: '';
          width:10px;
          height: 10px;
          background: $brand;
          display: inline-block;
          opacity: 0;
          margin-right: 8px;
          border-radius: 50%;
        }

      }
      &.special-link{
        .nav-link{
          background: $brand;
          color:$black;
          transition: all ease 0.3s;
          border-radius: 50px;
          padding: 10px 25px;
          &:before{
            display: none;
          }
          &:hover{
            background: $brand-hover;
            transition: all ease 0.3s;
            color: $black;
          }
        }
      }
      &:hover{
        .nav-link{
          transition: all ease 0.3s;
          color: $brand;
          &:before{
            opacity: 1;
            animation: FadeInOut infinite 1.2s;
          }
        }
      }
    }
  }
  form{
    input{
      background:rgba(0,0,0,0.6);
      border:none;outline:none;
      &[type='submit']{
        background:none;
        color:$brand;
      }
    }
  }
}
.newsletter-navbar-form{
  display:none;
  background:#fff;
  position: fixed;
  margin-top:80px;
  left:0;
  width:100%;
  padding:40px;
  text-align:center;
  z-index:9999999;
  box-shadow:0px 0px 20px rgba(0,0,0,0.6);
  h3{
    color:$brand;
    font-weight:bold;
  }
  .ajax-response{
    margin-top:10px;
    .success{
      color:#27e727;
    }
    .error{
      color:#b81818;
    }
  }
  form{
    width:50%;
    margin:auto;
    padding:10px;
    label{
      display:block;
      font-weight:bold;
      font-size:0.9em;
    }
    input{
      display: block;
      border-radius:4px;
      padding:10px;
      background:$light-gray;
      width:100%;
      border:none;
      margin-bottom:10px;
      &[type='submit']{
        background:$brand;
        width:25%;
        margin: auto;
        color:$black;
      }
    }
  }
}
@media screen and (max-width:764px){
  .navbar{
    .navbar-nav{
      text-align: center;
    }
    .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .newsletter-navbar-form{
   
    form{
      width:90%;
    }
  }
}
