.news-letter{
    width:100%;
    padding:$sectionPadding;
    background:$light-gray;
    margin-top:25px;
    h2{
        color:$brand;
        margin-bottom:15px;
    }
    p{
        color:$dark-gray;
    }
    .ajax-response{
        .success{
            background:#08be18;
            color:#fff;
            padding:10px 10px 12px 10px;
            border-radius:4px;
            text-align: center;
        }
        .error{
            background:#be0808;
            color:#fff;
            padding:10px 10px 12px 10px;
            border-radius:4px;
            text-align: center;
        }
    }
    form{
        label{
            color:$black;
            font-weight: bold;
            font-size:0.9em;
            display: block;
        }
        input[type="submit"]{
            border:none;
            background:$brand;
            border-radius: 4px;
            color:$black;
            padding:10px 25px;
            display: block;
        }
        input[type="email"]{
            display: block;
            width:100%;
            border-radius:4px;
            padding:10px;
            color:$black;
            border:2px solid $brand;
            outline:none;
            background:#fff;
            margin-bottom:10px;
        }
    }
}
.leave-newsletter{
    height: 60vh;
    background: $brand;
    text-align: center;
    padding: 25vh 15vh;
}
.success-list , .errors-list{
    width: 40%;
    margin: 50px auto;
    text-align: center;
    padding:15px 15px 10px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
    color: #fff;
}
.success-list{
    background:#11a211;
}
.errors-list{
    background:#a21111;
}
.leave-newsletter-form{
    background-color: $light-gray;
    padding: 40px;
    border-radius: 4px;
    width: 60%;
    margin:100px auto;
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 0.9em;
    }
    form{
        display: flex;
        input[type="email"]{
            flex:4;
            padding: 10px;
            border-radius: 4px;
            background-color: #fff;
            border:none;
        }
        input[type="submit"]{
            flex:1;
            padding: 10px;
            border-radius: 4px;
            background-color: $brand;
            color: $black;
            border:none;
        }
    }
}